.button {
    all: unset;
    background-color: var(--dark-gray);
    border-radius: 5px;
    padding: 0 0.5rem;
    cursor: pointer;
    transition: transform 0.4s;
}

.button:hover:not(:disabled) {
    opacity: 0.5;
    transform: scale(1.1);
}

.button:active {
    transform: scale(0.9);
}

.button:disabled {
    opacity: 0.5;
    cursor: default;
}
